@import "../../../Theme.scss";

// Panel: Change Password
.panel-changePassword {
    @include flexCenterColumnH;
    max-width: 600px;
    margin-top: 20px;
    button {
        margin-top: 20px;
    }

    // Response
    .success { color: $sucColor }
    .error { color: $errColor }

    .emptySpace{
        width: 600px;
        height: 0px;
    }
}

// Panel: Forgot Password
.panel-forgotPassword {
    @include flexCenterColumnH;
    max-width: 500px;
    min-width: 200px;
    margin-top: 20px;
    button {
        margin-top: 20px;
    }

    > div, > form {
        @include flexCenterColumnH;
        width: 100%;
    }

    > form {
        label {
            width: 100%;
        }
        
        button {
            margin-top: 0;
            margin-bottom: 30px;
        }
    }

    // State
    .idle {
        p {
            font-size: unset;
            margin: unset;
        }
    }
    .success { color: $sucColor }
    .error {
        p {
            color: $errColor;
            font-size: unset;
            text-align: center;
            margin: unset;
        }
    }

    .emptySpace{
        width: 600px;
        height: 0px;
    }
}