@import '../../Theme.scss';


// Essentials
.showPanel{
    @include flexCenter;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9999;

    > .showPanelBackground{
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgba(black, 0.5);
        backdrop-filter: blur(3px);  
        @include respondTo(laptop){
            backdrop-filter: none;  
        }      
    }

    > .showPanelContent{
        display: flex;
        position: fixed;
        overflow: hidden;
        background: rgba(white, 0.88);
        padding: 45px 10px 10px 10px;
        margin: 30px;
        margin-top: 60px;
        max-width: 90%;
        max-height: stretch;
        top: 0;
        border-radius: 8px;
        box-shadow: 0px 9px 49px 3px rgba(black, 0.3);

        @include respondTo(laptop){
            background: rgba(white, 0.98);
        }
        
        > h1 {
            position: absolute;
            right: 50%;
            top: 10px;
            transform: translate(50% , 0);
            font: 800 13pt $priFont;
            white-space: nowrap;
            text-transform: uppercase;
        }
        > button {
            position: absolute;
            right: 15px;
            top: 10px;
            border: 0;
            background: none;
            padding: 0;
            font-size: 20px;
            color: black;
            cursor: pointer;
            &:hover{
                color: mix(white, black, 30%);
            }
        }
        > div {
            overflow-y: auto;

            // Respond
            @include respondTo(tablet) {
                &::-webkit-scrollbar {
                    display: none;
                }
            }
        }
    }
}


// --------------------- PANELS --------------------- //

// Panels: Agreement
.panel_agreement {
    @include flexCenterColumnH;
    max-width: 600px;

    .panel_agreement--buttons {
        margin-top: 35px;
        button {
            font-size: 10pt;
            margin-right: 10px;
            &:last-child{ margin-right: 0; }
        }
    }
}