@import "../../../Theme.scss";

.p-productRemove {
    @include flexCenterColumnH;
    text-align: center;

    p {
        max-width: 300px
    }

    .buttons {
        @include flexRow;
        margin: 20px 0;

        button:first-child {
            margin-right: 10px;
            
            @include respondTo(mobile) {
                margin-right: 0;
                margin-bottom: 10px;
            }
        }

        @include respondTo(mobile) {
            @include flexCenterColumnH;
        }
    }

    .loading {
        @include flexCenter;
        width: 300px;
        height: 80px;
    }
}