@import "../../Theme.scss";

.p-checkout {
    @include flexCenterColumnH;
    width: 100%;
    max-width: 800px;
    margin: 30px auto 100px auto;

    .p-checkout--header{
        font: 800 12pt $priFont;
        text-transform: uppercase;
        position: relative;
        text-align: center;
        width: 100%;
        padding: 20px 0;   
        border-bottom: 3px solid black;     
    }


    .p-checkout__preview {
        width: 100%;
    }
}

// LIST OF ITEMS
.p-checkout__preview__list{
    @include flexCenterColumnH;
    border-left: 1px solid black;
    border-right: 1px solid black;    
    border-bottom: 1px solid black;    

    // Respond
    @include respondTo(tablet) {
        border-left: 0;
        border-right: 0;
    }

    .p-checkout__preview__list--empty {
        @include flexCenterColumn;
        min-height: 500px;

        > h1 {
            text-transform: uppercase;
            font-size: 11pt;
            margin-bottom: 20px;
        }
    }



    .p-checkout__preview__list--item {
        @include flexRow;
        width: 100%;
        background: white;
        border-bottom: 1px solid black;
        &:last-child { border-bottom: 0; }
        
        .p-checkout__preview__list--item__picture {
            @include flexCenter;
            overflow: hidden;
            min-width: 185px;
            max-width: 185px;
            img {
                width: 100%;
            }

            // Respond
            @include respondTo(mobile) {
                min-width: 130px;
                max-width: 130px;
                img {
                    width: 120%;
                }
            }
        }
        .p-checkout__preview__list--item--details {
            @include flexColumn;
            align-items: flex-start;
            justify-content: space-between;
            flex: 1;
            padding: 10px 15px 7px 15px;

            > div { width: 100% }

            .p-checkout__preview__list--item--details--titleAndPrice {
                @include flexRow;
                justify-content: space-between;
                .p-checkout__preview__list--item--details__title {
                    
                    font: 800 9pt $priFont;
                    &:hover { text-decoration: underline; }
                }
                .p-checkout__preview__list--item--details__totalPrice {
                    @include flexCenterV;
                    min-width: fit-content;
                    font: 800 9pt $priFont;
                }
            }

            
            .p-checkout__preview__list--item--details--features {
                @include flexColumn;
                font: 700 9pt $priFont;
                margin: 18px 0;

                > div {
                    @include flexCenterV;
                    margin-bottom: 10px;
                    &:last-child { margin-bottom: 0; }
                    
                    
                    > div:first-child {
                        margin-right: 10px; 
                    }
                }

                .p-checkout__preview__list--item--details--features__color {
                    @include flexCenterV;
                    span {
                        display: block;
                        width: 16px;
                        height: 16px;
                        border-radius: 20px;
                        /* box-shadow: 0 0 7px 2px rgba(black, .28); */
                    }
                }

                .p-checkout__preview__list--item--details--features__size {
                    span { font-weight: 900; }
                }

                .p-checkout__preview__list--item--details--features__quantity {
                    > div:last-child {
                        @include flexCenterV;
                    }

                    .p-checkout__preview__list--item--features__quantity--limitError {
                        font: 600 9pt $priFont;
                    }
                }
                
            }

            .p-checkout__preview__list--item--details--buttonsAndInfo {
                @include flexCenterV;
                justify-content: space-between;
                .p-checkout__preview__list--item--details__preOrderDate {
                    font: 700 9pt $priFont;
                }
            }
        }
    }
}


// INFO / PAYMENT

.p-checkout__info {
    width: 100%;
    margin-top: 80px;
    
    .p-checkout__info--addresses {
        @include flexCenterColumnH;
        width: 100%;
        padding: 30px;
        border: 1px solid black;

        // Respond
        @include respondTo(tablet) {
            border-left: 0;
            border-right: 0;
        }

        button { width: 100% }

        > div {
            @include flexRow;
            width: 100%;

            // Respond
            @include respondTo(tablet) {
                display: block
            }

            > div {
                @include flexCenterColumnH;
                width: 100%;
                margin-bottom: 40px;
                > * { width: 100%; }

                &:first-child { margin-right: 30px; }
                // Respond
                @include respondTo(tablet) {
                    &:first-child { margin-right: 0; }
                }
                
                select { margin: 0; }

                h1 {
                    @include flexCenterV;
                    font: 800 13pt $priFont;
                    text-transform: uppercase; 
                    margin-bottom: 15px;
                    label{
                        @include flexCenterV;
                        flex-direction: row;
                        font: 700 9pt $priFont;
                        padding: 3px 5px;
                        margin-left: 5px;
                        background-color: mix($bkgColor, black, 90%);
                        > input {
                            margin-left: 5px;
                        }
                    }

                    // Respond
                    @include respondTo(mobile) {
                        flex-direction: column;
                        align-items: baseline;
                        label {
                            margin-left: 0;
                            margin-top: 5px;
                        }
                    }
                }
            }
        }

        .p-checkout__info--email {
            @include flexColumn;
            margin-top: 40px;
            h1 {
                font: 800 13pt $priFont;
                text-transform: uppercase; 
                margin-bottom: 15px;
            }
        }
    }

    .p-checkout__info--payment {
        padding: 30px;
        margin-top: 80px;
        border: 1px solid black;

        // Respond
        @include respondTo(tablet) {
            border-left: 0;
            border-right: 0;
        }

        h1 {
            font: 800 13pt $priFont;
            text-transform: uppercase; 
            margin-bottom: 15px;
        }
    }
    .p-checkout__info--submit {
        width: 100%;
        margin-top: 50px;
    }
}

// AFTER MATH
.p-checkout__info--afterMath {
    width: 100%;
    border: 1px solid black;
    border-top: 0;

    // Respond
    @include respondTo(tablet){
        border-left: 0;
        border-right: 0;
    }

    > * {
        border-bottom: 1px solid black;
        &:last-child { border-bottom: 0; }
    }

    .p-checkout__info--afterMath__coupon {
        @include flexCenterColumnH;
        padding: 30px 190px;

        > div {
            @include flexCenterH;
            input {
                flex: 1;
                margin: 0 10px 0 0 !important;
                border: 2px solid black;
                border-radius: 100px;
                &:focus {
                    border: 2px solid black;
                }
            }
            button {
                font: 600 9pt $priFont;
                border-width: 1px;
            }
        }

        p {
            margin: 20px 0 0 0;
            &.success { color: $sucColor; }
            &.error { color: $errColor; }
        }
        

        @include respondTo(tablet) {
            padding: 30px 60px;
        }
    }

    .p-checkout__info--afterMath__total {
        @include flexColumn;
        padding: 30px;
        .p-checkout__info--afterMath__total--line {
            @include flexCenterV;
            justify-content: space-between;
            padding-bottom: 10px;
            &:last-child { padding-bottom: 0; }


            h4, p {
                @include flexCenterV;
                font: 500 10pt $priFont;
                text-transform: uppercase;
                > button {
                    padding: 0px 6px;
                    margin-right: 5px;
                    border: 1px solid black;
                    font: 800 8pt $priFont;
                }
            }

            &.total {
                h4, p {
                    border-bottom: 2px solid black;
                    font: 800 11pt $priFont;
                }
            }
        }
    }
}