@import "../../../Theme.scss";

.panel_editItem {
    @include flexCenterColumn;
    /* max-width: 760px; */
    max-width: 360px;
    min-width: 360px;
    width: 100%;

    // Respond
    @include respondTo(tablet){
        max-width: unset;
        min-width: unset;
    }

    .panel_editItem--title {
        text-align: center;
        font: 700 11pt $priFont;

    }

    // Product Details: UI
    .panel_editItem--error { > span { color: $errColor; font-weight: 700; } > select, > div {border: 1px solid $errColor !important;}}

    .panel_editItem--choose {
        @include flexColumn;
        width: 100%;
        margin: 20px 0;

        .chooseColorWrapper {
            padding: 2px 5px;
            margin-bottom: 10px;
            background: white;
            border: 1px solid black;
            position: relative;

            .chooseColor--goLeft, .chooseColor--goRight {
                @include flexCenter;
                cursor: pointer;
                width: 40px;
                height: 100%;
                position: absolute;
                top: 0;
                background: none;
                border: none;
                
                z-index: 99;
        
                i {
                    position: relative;
                }
            }
            .chooseColor--goLeft {
                left: 0;
                background-image: linear-gradient(to right, #fdfdfd 60%, rgba(black, .0));
                i {
                    left: -3px;
                }
            }
            .chooseColor--goRight {
                right: 0;
                background-image: linear-gradient(to left, #fdfdfd 60%, rgba(black, .0));
                i {
                    right: -3px;
                }
            }
        }

        .chooseColorContent {
            overflow-x: auto;
            overflow-y: hidden;
            scroll-behavior: smooth;

            &::-webkit-scrollbar {
                display: none;
            }
        }
        
        
        .chooseColorBalls {
            @include flexCenterV;
            

            > label {
                padding: 5px;
            }

            > h4 {
                font: 700 8pt $priFont;
                text-transform: uppercase;
                margin-left: 5px;
            }

            input {
                display: none;
                &:checked+span {
                    box-shadow: 0 0 0 1.5px white, 0 0 0 3px black;
                }
            }
            span {
                width: 20px;
                height: 20px;
                border-radius: 50%;
            }
        }
    }

    .panel_editItem--buttons {
        button {
            font-size: 9pt;
            margin-right: 10px;
            border: 1px solid black;
            &:last-child { margin-right: 0; }
        }
    }
}


// Loading
.loadingZone_ {
    @include flexCenter;
    max-width: 360px;
    min-width: 360px;
    width: 100%;
    height: 200px;
}