@import "../../../Theme.scss";

.productsWrapper {
    @include flexCenterColumnH;
    overflow-x: hidden;
    margin-bottom: 100px;    

    .products {
        display: grid;
        width: calc(100% + 2px);
        position: relative;
        margin-bottom: 50px;
        grid-template-columns: 33.33% 33.33% 33.33%;
    
        // Respond
        @include respondTo("4k"){
            grid-template-columns: 20% 20% 20% 20% 20%;
        }
        @include respondTo(desktop){
            grid-template-columns: 33.33% 33.33% 33.33%;
        }
        @include respondTo(laptop){
            grid-template-columns: 33.33% 33.33% 33.33%;
        }
        @include respondTo(tablet){
            grid-template-columns: 50% 50%;
        }
    }

    // Show More
    .showMore{
        width: 200px;

        // Respond
        @include respondTo(mobile) {
            width: 150px;
            font-size: 10pt;
        }
    }


    // Loading
    .loadingZone {
        span { // Empty
            text-align: center;
            margin: 0 20px;
        }
    }


}


